/* * Listing the font families */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Rubik:wght@300&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* margin: ; */
  /* padding: 0; */
}

:root {
  --dark-violet: #2d2640;
  --grayish-blur: #95a9c6;

  --very-dark-violet: #2b272f;
  --dark-grayish-violet: #837d87;
  --very-light-gray: #fafafa;

  --hw: 400;
  --sw: 400;
  --lw: 700;

  --fs: 16px;
  --hf: "Karla", sans-serif;
  --tf: "Karla", sans-serif;
}

body {
  width: 100%;
  font-size: var(--fs);
  display: grid;
  grid-template-rows: 100px auto 200px;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
}

/* * Header section styling */

#header {
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .logo {
  max-width: 20%;
  width: 200px;
  padding: 2rem;
}

.logo img {
  width: 100%;
}

.navbar-desktop {
  max-width: 70%;
  width: 800px;
  padding: 1.2rem;
}

.navbar-desktop .nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.nav-list .nav-item {
  font-size: 1.5rem;
  font-family: var(--tf);
  font-weight: var(--lw);
  color: var(--dark-grayish-violet);
}

.nav-item.plans {
  border: 2px solid var(--dark-violet);
  font-weight: var(--lw);
  padding: 1rem 2.2rem;
  color: var(--dark-violet);
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.plans:hover,
.plans:focus {
  color: var(--very-light-gray);
  background-color: var(--dark-violet);
}

.navbar-mobile {
  display: none;
}

.close-btn {
  display: none;
}

.container {
  padding: 2rem;
  width: 100%;
}

.about-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: var(--dark-violet);
  color: var(--very-light-gray);
  background-image: url("../../images/bg-pattern-intro-left-desktop.svg"),
    url("../../images/bg-pattern-intro-right-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, top right;
}

.about {
  width: 40%;
  /* width: 600px; */
  border-top: 2px solid var(--very-light-gray);
}

.about h1 {
  font-size: 5.6rem;
  margin: 0;
}

.about p {
  font-size: 1.2rem;
  line-height: 2;
}

.about .btn-plans {
  border: 2px solid var(--very-light-gray);
  padding: 1rem 2rem;
  max-width: 30%;
  width: 40%;
  background: none;
  font-size: 1.2rem;
  color: var(--very-light-gray);
}

.image--section {
  width: 40%;
}

.image--section img {
  width: fit-content;
  float: right;
}



@media only screen and (max-width: 1024px) {
  body {
    width: 100%;
  }

  #header {
    padding: 1rem;
  }

  #header .logo {
    max-width: 20%;
    width: 110px;
    flex: 1;
    padding: 1rem;
  }

  .navbar-desktop {
    min-width: 50%;
    max-width: 70%;
    padding: 1rem;
  }

  .nav-list .nav-item {
    font-size: 1rem;
  }
  .nav-item.plans {
    padding: 1rem 1.2rem;
  }

  .active {
    display: block;
  }

  .about-section {
    justify-content: space-between;
  }

  .about h1 {
    font-size: 4.2rem;
  }

  .about .btn-plans {
    padding: 1rem 2rem;
    max-width: 50%;
    width: 100%;
  }

  .image--section {
    width: auto;
  }
  .image--section img {
    width: 90%;
    float: right;
  }
}

@media only screen and (max-width: 600px) {
  body {
    grid-template-rows: auto auto auto;
  }

  #header {
    display: flex;
  }

  #header .logo {
    max-width: 20%;
    width: auto;
    position: relative;
    background-color: white;
  }

  .navbar-desktop {
    display: none;
  }

  .navbar-mobile {
    display: none;
    background: var(--dark-violet);
    transition: 0.5s all ease-in-out;
  }

  .navbar-mobile .nav-list {
    list-style: none;
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 1s ease-in-out;
  }

  .nav-list .nav-item {
    margin: 1.2rem 2rem;
    color: #fafafa;
    width: 300px;
    font-size: 1rem;
  }

  .nav-item.plans {
    border: 2px solid white;
  }

  .close-btn {
    display: block;
  }

  .close-btn img {
    width: auto;
  }

  .active {
    display: block;
  }

  .about-section {
    flex-direction: column-reverse;
  }

  .about {
    width: 100%;
    margin-top: 2rem;
  }

  .about .btn-plans {
    width: 100%;
  }

  .image--section img {
    width: 100%;
  }

  .about h1 {
    font-size: 3.3rem;
  }

  .about p {
    font-size: 0.8rem;
  }
}
